:root {
    --base-size-4: 0.25rem;
    --base-size-8: 0.5rem;
    --base-size-16: 1rem;
    --base-size-24: 1.5rem;
    --base-size-40: 2.5rem;
    --base-text-weight-normal: 400;
    --base-text-weight-medium: 500;
    --base-text-weight-semibold: 600;
    --focus-outlineColor: var(--accent);
    --fgColor-default: var(--text);
    --fgColor-accent: var(--primary);
    --fgColor-muted: color-mix(in srgb, var(--text) 90%, var(--secondary));
    --fgColor-success: #3fb950;
    --fgColor-attention: #d29922;
    --fgColor-danger: #f85149;
    --fgColor-done: #ab7df8;
    --bgColor-default: var(--background);
    --bgColor-muted: color-mix(in srgb, var(--background) 90%, var(--accent));
    --bgColor-neutral-muted: color-mix(in srgb, var(--background) 80%, var(--accent));
    --bgColor-attention-muted: color-mix(in srgb, var(--background) 50%, var(--secondary));
    --borderColor-default: color-mix(in srgb, var(--accent) 70%, var(--background));
    --borderColor-muted: color-mix(in srgb, var(--secondary) 90%, var(--background));
    --borderColor-neutral-muted: color-mix(in srgb, var(--primary) 80%, var(--background));
    --borderColor-accent-emphasis: #1f6feb;
    --borderColor-success-emphasis: #238636;
    --borderColor-attention-emphasis: #9e6a03;
    --borderColor-danger-emphasis: #da3633;
    --borderColor-done-emphasis: #8957e5;
    --fontStack-monospace: "JetBrains Mono", "SF Mono", "Fira Code", "Courier New", monospace;
}

main {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 800px;

    font-family: Outfit, Arial, sans-serif;
}

.icon-link::after {
    content: "#";
    padding: 0 1ch;

    opacity: 0;
}

h1:hover .icon-link::after,
h2:hover .icon-link::after,
h3:hover .icon-link::after,
h4:hover .icon-link::after,
h5:hover .icon-link::after,
h6:hover .icon-link::after {
    opacity: 1;
}

[hidden] {
    display: none !important;
}

details,
figcaption,
figure {
    display: block;
}

summary {
    display: list-item;
}

a {
    background-color: transparent;
    color: var(--fgColor-accent);
    text-decoration: none;
}

abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: var(--base-text-weight-semibold);
}

dfn {
    font-style: italic;
}

h1 {
    font-size: min(4em, 14vw);
    font-weight: var(--base-text-weight-semibold);
}

mark {
    background-color: var(--bgColor-attention-muted);
    color: var(--fgColor-default);
}

small {
    font-size: 90%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
}

code,
kbd,
pre,
samp {
    font-family: var(--fontStack-monospace);
    font-size: 1em;
}

figure {
    margin: 1em var(--base-size-40);
}

hr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid var(--borderColor-muted);
    height: .25em;
    padding: 0;
    margin: var(--base-size-24) 0;
    background-color: var(--borderColor-default);
    border: 0;
}

input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
    appearance: button;
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    appearance: button;
    font: inherit;
}

::placeholder {
    color: var(--fgColor-muted);
    opacity: 1;
}

hr::before {
    display: table;
    content: "";
}

hr::after {
    display: table;
    clear: both;
    content: "";
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    font-variant: tabular-nums;
}

td,
th {
    padding: 0;
}

details summary {
    cursor: pointer;
}

a:focus,
[role=button]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus {
    outline: 2px solid var(--focus-outlineColor);
    outline-offset: -2px;
    box-shadow: none;
}

a:focus:not(:focus-visible),
[role=button]:focus:not(:focus-visible),
input[type=radio]:focus:not(:focus-visible),
input[type=checkbox]:focus:not(:focus-visible) {
    outline: solid 1px transparent;
}

a:focus-visible,
[role=button]:focus-visible,
input[type=radio]:focus-visible,
input[type=checkbox]:focus-visible {
    outline: 2px solid var(--focus-outlineColor);
    outline-offset: -2px;
    box-shadow: none;
}

a:not([class]):focus,
a:not([class]):focus-visible,
input[type=radio]:focus,
input[type=radio]:focus-visible,
input[type=checkbox]:focus,
input[type=checkbox]:focus-visible {
    outline-offset: 0;
}

kbd {
    display: inline-block;
    padding: var(--base-size-4);
    font: 11px var(--fontStack-monospace);
    line-height: 10px;
    color: var(--fgColor-default);
    vertical-align: middle;
    background-color: var(--bgColor-muted);
    border: solid 1px var(--borderColor-neutral-muted);
    border-bottom-color: var(--borderColor-neutral-muted);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 var(--borderColor-neutral-muted);
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: var(--base-size-40);
    margin-bottom: var(--base-size-16);
    font-weight: var(--base-text-weight-semibold);
    line-height: 1.25;
}

h2:has(+h3, h4, h5, h6)+h3,
h4,
h5,
h6 {
    margin-top: var(--base-size-16);
}

h2 {
    font-weight: var(--base-text-weight-semibold);
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid var(--borderColor-muted);
}

h3 {
    font-weight: var(--base-text-weight-semibold);
    font-size: 1.25em;
}

h4 {
    font-weight: var(--base-text-weight-semibold);
    font-size: 1em;
}

h5 {
    font-weight: var(--base-text-weight-semibold);
    font-size: .875em;
}

h6 {
    font-weight: var(--base-text-weight-semibold);
    font-size: .85em;
    color: var(--fgColor-muted);
}

p {
    margin-top: 0;
    margin-bottom: 15px;
}

blockquote {
    padding: 0 1em;
    color: var(--fgColor-muted);
    border-left: .25em solid var(--borderColor-default);
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
}

ol ol,
ul ol {
    list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
    list-style-type: lower-alpha;
}

dd {
    margin-left: 0;
}

tt,
code,
samp {
    font-family: var(--fontStack-monospace);
    font-size: 12px;
}

pre {
    margin-bottom: 0;
    font-family: var(--fontStack-monospace);
    font-size: 12px;
    word-wrap: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
}

.mr-2 {
    margin-right: var(--base-size-8) !important;
}

a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.absent {
    color: var(--fgColor-danger);
}

blockquote,
ul,
ol,
dl,
table,
pre,
details {
    margin-top: 0;
    margin-bottom: var(--base-size-16);
}

blockquote>:first-child {
    margin-top: 0;
}

blockquote>:last-child {
    margin-bottom: 0;
}

h1 tt,
h1 code,
h2 tt,
h2 code,
h3 tt,
h3 code,
h4 tt,
h4 code,
h5 tt,
h5 code,
h6 tt,
h6 code {
    padding: 0 .2em;
    font-size: inherit;
}

summary h1,
summary h2,
summary h3,
summary h4,
summary h5,
summary h6 {
    display: inline-block;
}

summary h1,
summary h2 {
    padding-bottom: 0;
    border-bottom: 0;
}

ol[type="a s"] {
    list-style-type: lower-alpha;
}

ol[type="A s"] {
    list-style-type: upper-alpha;
}

ol[type="i s"] {
    list-style-type: lower-roman;
}

ol[type="I s"] {
    list-style-type: upper-roman;
}

ol[type="1"] {
    list-style-type: decimal;
}

div>ol:not([type]) {
    list-style-type: decimal;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

li>p {
    margin-top: var(--base-size-16);
}

li+li {
    margin-top: .25em;
}

dl {
    padding: 0;
}

dl dt {
    padding: 0;
    margin-top: var(--base-size-16);
    font-size: 1em;
    font-style: italic;
    font-weight: var(--base-text-weight-semibold);
}

dl dd {
    padding: 0 var(--base-size-16);
    margin-bottom: var(--base-size-16);
}

table th {
    font-weight: var(--base-text-weight-semibold);
}

table th,
table td {
    padding: 6px 13px;
    border: 1px solid var(--borderColor-default);
}

table td>:last-child {
    margin-bottom: 0;
}

table tr {
    background-color: var(--bgColor-default);
    border-top: 1px solid var(--borderColor-muted);
}

table tr:nth-child(2n) {
    background-color: var(--bgColor-muted);
}

table img {
    background-color: transparent;
}

img[align=right] {
    padding-left: 20px;
}

img[align=left] {
    padding-right: 20px;
}

span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

span.align-center>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}

span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

span.align-right>span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}

span.align-right span img {
    margin: 0;
    text-align: right;
}

span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}

span.float-left span {
    margin: 13px 0 0;
}

span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}

span.float-right>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}

code,
tt {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: var(--bgColor-neutral-muted);
    border-radius: 6px;
}

code br,
tt br {
    display: none;
}

del code {
    text-decoration: inherit;
}

samp {
    font-size: 85%;
}

pre code {
    font-size: 100%;
}

pre>code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

pre {
    padding: var(--base-size-16);
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    color: var(--fgColor-default);
    background-color: var(--bgColor-muted);
    border-radius: 6px;
}

pre code,
pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.csv-data td,
.csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
}

.csv-data .blob-num {
    padding: 10px var(--base-size-8) 9px;
    text-align: right;
    background: var(--bgColor-default);
    border: 0;
}

.csv-data tr {
    border-top: 0;
}

.csv-data th {
    font-weight: var(--base-text-weight-semibold);
    background: var(--bgColor-muted);
    border-top: 0;
}

[data-footnote-ref]::before {
    content: "[";
}

[data-footnote-ref]::after {
    content: "]";
}

.footnotes {
    font-size: 12px;
    color: var(--fgColor-muted);
    border-top: 1px solid var(--borderColor-default);
}

.footnotes ol {
    padding-left: var(--base-size-16);
}

.footnotes ol ul {
    display: inline-block;
    padding-left: var(--base-size-16);
    margin-top: var(--base-size-16);
}

.footnotes li {
    position: relative;
}

.footnotes li:target::before {
    position: absolute;
    top: calc(var(--base-size-8)*-1);
    right: calc(var(--base-size-8)*-1);
    bottom: calc(var(--base-size-8)*-1);
    left: calc(var(--base-size-24)*-1);
    pointer-events: none;
    content: "";
    border: 2px solid var(--borderColor-accent-emphasis);
    border-radius: 6px;
}

.footnotes li:target {
    color: var(--fgColor-default);
}

.footnotes .data-footnote-backref g-emoji {
    font-family: var(--fontStack-monospace);
}

body:has(:modal) {
    padding-right: var(--dialog-scrollgutter) !important;
}

[role=button]:focus:not(:focus-visible),
[role=tabpanel][tabindex="0"]:focus:not(:focus-visible),
button:focus:not(:focus-visible),
summary:focus:not(:focus-visible),
a:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}

[tabindex="0"]:focus:not(:focus-visible),
details-dialog:focus:not(:focus-visible) {
    outline: none;
}

g-emoji {
    display: inline-block;
    min-width: 1ch;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    font-style: normal !important;
    font-weight: var(--base-text-weight-normal);
    line-height: 1;
    vertical-align: -0.075em;
}

g-emoji img {
    width: 1em;
    height: 1em;
}

::-webkit-calendar-picker-indicator {
    filter: invert(50%);
}

.markdown-alert {
    padding: var(--base-size-8) var(--base-size-16);
    margin-bottom: var(--base-size-16);
    color: inherit;
    border-left: .25em solid var(--borderColor-default);
}

.markdown-alert>:first-child {
    margin-top: 0;
}

.markdown-alert>:last-child {
    margin-bottom: 0;
}

.markdown-alert .markdown-alert-title {
    display: flex;
    font-weight: var(--base-text-weight-medium);
    align-items: center;
    line-height: 1;
}

.markdown-alert.markdown-alert-note {
    border-left-color: var(--borderColor-accent-emphasis);
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
    color: var(--fgColor-accent);
}

.markdown-alert.markdown-alert-important {
    border-left-color: var(--borderColor-done-emphasis);
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
    color: var(--fgColor-done);
}

.markdown-alert.markdown-alert-warning {
    border-left-color: var(--borderColor-attention-emphasis);
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
    color: var(--fgColor-attention);
}

.markdown-alert.markdown-alert-tip {
    border-left-color: var(--borderColor-success-emphasis);
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
    color: var(--fgColor-success);
}

.markdown-alert.markdown-alert-caution {
    border-left-color: var(--borderColor-danger-emphasis);
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
    color: var(--fgColor-danger);
}