---
interface Props {
    href: string;
    question: string;
}

let { href, question } = Astro.props;
---

<a href={href}>
    <slot />
    <span>{question}</span>
</a>

<style>
    a {
        cursor: pointer;
        color: var(--text);
        text-underline-offset: 5px;
        text-decoration: underline 2px solid var(--accent);

        position: relative;
    }

    a span {
        opacity: 0;
        visibility: hidden;

        top: 150%;
        left: -30px;
        position: absolute;

        text-wrap: nowrap;
        text-align: center;

        padding: 5px 10px;
        border-radius: 6px;
        border: 2px solid var(--accent);

        transition: visibility 0.3s, opacity 0.3s;
    }

    a span::after {
        content: "";
        position: absolute;

        left: 30px;
        bottom: 100%;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent var(--accent) transparent;
    }

    a:hover span {
        opacity: 1;
        visibility: visible;
    }

	@media only screen and (max-width: 600px) {
        a span {
            display: none;
        }
    }
</style>
